$theme-colors: (
  "primary": #007199,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);

$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");


$btn-primary-bg: $primary;
$btn-primary-border: $primary;
$btn-primary-hover-bg: darken($primary, 10%);
$btn-primary-hover-border: darken($primary, 10%);

$input-border-color: $primary;
$input-focus-border-color: lighten($primary, 20%);
$input-focus-box-shadow: 0 0 0 0.2rem rgba(0, 113, 153, 0.25);

$select-border-color: $primary;
$select-focus-border-color: lighten($primary, 20%);
$select-focus-box-shadow: 0 0 0 0.2rem rgba(0, 113, 153, 0.25);

.table-primary {
  --bs-table-bg: $primary;
  --bs-table-striped-bg: lighten($primary, 10%);
  --bs-table-hover-bg: lighten($primary, 15%);
  --bs-table-active-bg: lighten($primary, 20%);
  --bs-table-border-color: $primary;
}

body {
  background-color: #f8f9fa;
}

.btn-outline-primary {
  background-color: #fff;
  color: lighten($primary, 20%);
  border-color: $primary;

  &:hover {
    background-color: $primary;
    color: #fff;
  }

}

main {
  height: calc(100vh - 56px);
}

.navbar {
  border-bottom: 1px solid $primary;
  background-color: $btn-primary-bg;

  .connection-info {
    color: #fff;
  }

  .navbar-brand, .nav-link {
    color: #fff;
    padding: 0.5rem;

    &:hover {
      color: #fff;
    }
  }
}

.sidebar {
  background-color: #fff;
  border-right: 1px solid $primary;
  height: 100vh;
  padding: 0.5rem;
  max-width: 10rem;
  color: #000;
}

.content {
  margin-left: 250px;
  padding: 1rem;
  height: 100%;
}

.table {
  background-color: #fff;
}

.table th,
.table td {
  vertical-align: middle;
}
.tab{
  .btn{
   margin-right: 0.25rem;
  }
  .tab-button {
    &.btn-outline-light{
      color: #000;
    }
  }
}


@import "bootstrap/scss/bootstrap";
